<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="com.bundle.util"
            class="net.moon.util.bundlePropertiesEditor.model.propertieseditor.PropertieseditorPackage"
            genModel="model/bundleProperties.genmodel"/>
   </extension>

</plugin>
